body {
    background-color: #ccdbf0;
    margin:0
}

.content {
  margin: auto;
  text-align: center;
}

.dataDiv{
  max-width: 200px;
  max-height: 80px;
  margin: auto;
  background-color: powderblue;
  border-style: solid;
  border-width: 2px;
  margin-bottom: 10px;
}

.loginDiv{
  width: 25%;
  min-width: 300px;
  min-height: 200px;
  max-height: 300px;
  margin: auto;
  background-color: #7998ba;
  border-style: solid;
  border-width: 2px;
  margin-bottom: 50px;
  margin-top: 10px;
  padding: 10px
}

/*STARDARD TABLE*/
#customTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-top: 40px;
  margin-left:auto;
  margin-right:auto;
}

#customTable td, customTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customTable tr td{background-color: #f2f2f2;}

#customTable tr td:hover {background-color: #ddd;}

#customTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

/*EDIT TABLE*/
#editTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-top: 40px;
  margin-left:auto;
  margin-right:auto;
}

#editTable td, #editTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#editTable tr td{background-color: #f2f2f2;}

#editTable tr td:hover {background-color: #ddd;}

#editTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #eda13e;
  color: white;
}

/*LOGIN IMAGE*/
.LoginImage {
    min-width:100px;
    max-width:200px;
    height:auto;
    padding: 50px;
}

/*TOP BAR NAVIGATION*/
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/*ADD USER BUTTON*/
.addUserButton{

}
