@()(implicit request: RequestHeader, flash: Flash)

@main("Contacts manager - Add new contact"){

    <div class="topnav">
        <a href="@routes.LoginController.logout()">Home</a>
        <a href="@routes.DataController.contactsPage()">Contacts Manager</a>
        <a class="active">Add new contact</a>
        <a href="@routes.LoginController.logout()">Logout</a>
    </div>

    <br>
    <br>
    <h3>Create new contact</h3>


    <form method="post" action="@routes.DataController.addNewContactData()">
        @helper.CSRF.formField
        <table id="editTable">
            <tr>
                <th>Firstname</th>
                <th>Surname</th>
                <th>Age</th>
                <th>Company</th>
                <th>Phone</th>
                <th>Email</th>

            </tr>

            <tr>
                <td>
                    <input style="text-align: center" type="text" name="firstname" value="Karol" pattern="[A-Za-z]{1,20}" title="Too long name."> <br>
                </td>
                <td>
                    <input style="text-align: center" type="text" name="surname" value="Wielki" pattern="[A-Za-z]{1,20}"  title="Too long surname."> <br>
                </td>
                <td>
                    <input style="text-align: center" type="number" name="age" value="66" min="1" max="100" step="1"> <br>
                </td>
                <td>
                    <input style="text-align: center" type="text" name="company" value="Armia"> <br>
                </td>
                <td>
                    <input style="text-align: center" type="tel" name="phone" value="+48795364877" pattern="+[0-9]{2}[0-9]{3}[0-9]{3}[0-9]{3}" minlength="9" maxlength="12" title="Incorrect phone format"> <br>
                </td>
                <td>
                    <input style="text-align: center" type="email" name="emailAddress" value="" > <br>
                </td>
            </tr>

        </table>

        <br><br><br>
        <button type="submit" style="width: 120px; height: 50px">Create</button>
    </form>



}