@(data: List[UserData])(implicit request: RequestHeader, flash: Flash)

@main("Contacts manager"){

    <div class="topnav">
        <a href="@routes.LoginController.logout()">Home</a>
        <a class="active" >Contacts Manager</a>
        <a href="@routes.DataController.addUserPage()">Add new contact</a>
        <a href="@routes.LoginController.logout()">Logout</a>
    </div>

    <h2>@flash.get("success")</h2>

    <table id="customTable">
        <tr>
            <th>User ID</th>
            <th>Firstname</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Company</th>
            <th>Phone</th>
            <th>Email</th>

        </tr>
        @for((userContact, i) <-data.zipWithIndex){
            <tr>
                <td>
                    <div>@userContact.id</div>
                </td>
                <td>
                    <div id="test" >@userContact.firstname</div>
                </td>
                <td>
                    <div >@userContact.surname</div>
                </td>
                <td>
                    <div >@userContact.age</div>
                </td>
                <td>
                    <div >@userContact.company</div>
                </td>
                <td>
                    <div >@userContact.phone</div>
                </td>
                <td>
                    <div >@userContact.emailAddress</div>
                </td>
                <td>
                    <form method="post" action="@routes.DataController.deleteUserData()">
                        @helper.CSRF.formField
                        <input type="hidden" name="index" value="@i">
                        <input type="submit" style="width:100%" value="Delete">
                    </form>
                </td>
                <td>
                    <form method="post" action="@routes.DataController.updateUserDataPage()">
                        @helper.CSRF.formField
                        <input type="hidden" name="index" value="@i">
                        <input type="submit" style="width:100%" value="Update">
                    </form>
                </td>
            </tr>
        }

    </table>

}