@(userContact: UserData, index: Int)(implicit request: RequestHeader, flash: Flash)

@main("Contacts manager - Edit contact"){

    <div class="topnav">
        <a href="@routes.LoginController.logout()">Home</a>
        <a href="@routes.DataController.contactsPage()">Contacts Manager</a>
        <a href="@routes.DataController.addUserPage()">Add new contact</a>
        <a href="@routes.LoginController.logout()">Logout</a>
        <a class="active">Edit contact</a>
    </div>

    <br>
    <br>
    <h3>Original contact</h3>

    <table id="customTable">
        <tr>
            <th>User ID</th>
            <th>Firstname</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Company</th>
            <th>Phone</th>
            <th>Email</th>

        </tr>

        <tr>
            <td>
                <div>@userContact.id</div>
            </td>
            <td>
                <div>@userContact.firstname</div>
            </td>
            <td>
                <div>@userContact.surname</div>
            </td>
            <td>
                <div>@userContact.age</div>
            </td>
            <td>
                <div>@userContact.company</div>
            </td>
            <td>
                <div>@userContact.phone</div>
            </td>
            <td>
                <div>@userContact.emailAddress</div>
            </td>
        </tr>

    </table>

    <br>
    <br>

    <h3>Edit contact</h3>

    <table id="editTable">
        <tr>
            <th>User ID</th>
            <th>Firstname</th>
            <th>Surname</th>
            <th>Age</th>
            <th>Company</th>
            <th>Phone</th>
            <th>Email</th>

        </tr>

        <tr>
            <td>
                <div>@userContact.id</div>
            </td>
            <td>
                <form method="post" action="@routes.DataController.updateUserFirstname()">
                    @helper.CSRF.formField
                    <input style="text-align: center" type="text" name="firstname" value="@userContact.firstname" pattern="[A-Za-z]{1,20}" title="Too long name."> <br>
                    <input type="hidden" name="index" value="@index">
                    <button type="submit">Update</button>
                </form>
            </td>
            <td>
                <form method="post" action="@routes.DataController.updateUserSurname()">
                    @helper.CSRF.formField
                    <input style="text-align: center" type="text" name="surname" value="@userContact.surname" pattern="[A-Za-z]{1,20}"  title="Too long surname."> <br>
                    <input type="hidden" name="index" value="@index">
                    <button type="submit">Update</button>
                </form>
            </td>
            <td>
                <form method="post" action="@routes.DataController.updateUserAge()">
                    @helper.CSRF.formField
                    <input style="text-align: center" type="number" name="age" value="@userContact.age" min="1" max="100" step="1"> <br>
                    <input type="hidden" name="index" value="@index">
                    <button type="submit">Update</button>
                </form>
            </td>
            <td>
                <form method="post" action="@routes.DataController.updateUserCompany()">
                    @helper.CSRF.formField
                    <input style="text-align: center" type="text" name="company" value="@userContact.company"> <br>
                    <input type="hidden" name="index" value="@index">
                    <button type="submit">Update</button>
                </form>
            </td>
            <td>
                <form method="post" action="@routes.DataController.updateUserPhone()">
                    @helper.CSRF.formField
                    <input style="text-align: center" type="tel" name="phone" value="@userContact.phone" pattern="+[0-9]{2}[0-9]{3}[0-9]{3}[0-9]{3}" minlength="9" maxlength="12" title="Incorrect phone format"> <br>
                    <input type="hidden" name="index" value="@index">
                    <button type="submit">Update</button>
                </form>
            </td>
            <td>
                <form method="post" action="@routes.DataController.updateUserEmail()">
                    @helper.CSRF.formField
                    <input style="text-align: center" type="email" name="emailAddress" value="@userContact.emailAddress" > <br>
                    <input type="hidden" name="index" value="@index">
                    <button type="submit">Update</button>
                </form>
            </td>
        </tr>

    </table>

}