@(loginForm: Form[LoginData])(implicit request: MessagesRequestHeader, flash: Flash)

@main("Scala Play Project"){

    <img class ="LoginImage" src="@routes.Assets.versioned("images/login.png")">

    <h2>@flash.get("success")</h2>
    <h2>@flash.get("error")</h2>

    <div class = "loginDiv">
        <h2>Sign in</h2>
        @helper.form(action = routes.LoginController.validateLoginForm()) {
            @helper.CSRF.formField
            @helper.inputText(loginForm("Username"))
            @helper.inputPassword(loginForm("Password"))
            <button type="submit">Login</button>
        }
    </div>

    <div class = "loginDiv">
        <h2>Registration</h2>
        @helper.form(action = routes.LoginController.createUser()) {
            @helper.CSRF.formField
            @helper.inputText(loginForm("Username"))
            @helper.inputPassword(loginForm("Password"))
            <button type="submit">Create User</button>
        }
    </div>

}

